:host {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: 24vmin 24vmin 24vmin 24vmin;
  grid-template-rows: 24vmin 24vmin 24vmin 24vmin;
  grid-gap: 1vmin;
  grid-auto-rows: 24vmin;
  grid-auto-columns: 24vmin;
  overflow: auto;
}