<div title>{{data.title}}</div>
<div details *ngIf="large">
  <ng-container *ngFor="let detail of data.details">
    <div key>{{detail.key}}</div>
    <div value>{{detail.value}}</div>
  </ng-container>
</div>
