:host {
  display: flex;
  position: relative;
  padding: 4pt;
  cursor: pointer;
  background-color: #eee;
  overflow: hidden;
  box-sizing: border-box;
  transition: all .3s;
}

[title] {
  justify-self: flex-start;
  align-self: flex-start;
  color: slategrey;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18pt;
  overflow: hidden;
  text-overflow: ellipsis;
}

[details] {
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-auto-flow: dense;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 4pt;

  padding-top: 26pt;
}

[details] > [key] {
  color: slategrey;
  font-family: 'Courier New', Courier, monospace;
  font-size: 10pt;
  text-align: right;
}

[details] > [key]:after {
  content: ':';
  padding: 0 1ex 0 0;
}

[details] > [value] {
  color: silver;
  font-family: 'Courier New', Courier, monospace;
  font-size: 10pt;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

:host.large {
  grid-column: span 3;
}

:host.large.specific {
  grid-column: span 2;
  grid-row: span 2;
}

:host {
  order: 4;
}

:host.large:first-of-type {
  order: 1;
}

:host.large:first-of-type ~ :host.large {
  order: 2;
}

:host.large:last-of-type {
  order: 3;
}
